@media screen and (max-width: 839px) {
  header {
    margin-top: 295px;
  }

  .container {
    height: 100vh; /* Ajustei para usar 100% da altura da viewport */
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Adicionado para centralizar horizontalmente */
    padding: 20px;
    color: #fff;
  }
}

@media screen and (max-width: 839px) {
  .gestao-botoes {
    display: block;
  }

  .gestao-botoes button {
    margin-bottom: 2px;
  }

  section.botoes-links {
    gap: 20px;
    margin-top: 10px;
  }

  section.botoes-rede-sociais {
    margin-top: 20px;
    margin-left: 0px;
  }
}
